---
layout: default
title: Gallery
section: Gallery
metaDescription: A gallery of screenshots and artwork. All screenshots are taken by Samantha Says, each piece of artwork will contain links to the artist.
metaImage: https://samanthasays.github.io/assets/images/Apples icon.png
---

<h1>Gallery</h2>

<h2>Samantha Says</h2>

<div class="tablesContainer">
    {% for post in site.categories.gallery %}
        {% if post.categories contains "samantha says" %}
            <table id="tableGallery">
                <tr>
                    <th style="width: 297px"><a href="{{ post.url }}"><img style="max-width: 297px; height: auto; max-height: 297px" src="/assets/images/gallery/samantha says/{{ post.image }}" alt="{{ post.title }}"></a></th>
                </tr><tr>
                    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                </tr><tr>
                    <td style="font-weight: normal"><a target="_blank" href="{{ post.credit }}">{{ post.artist }}</a></td>
            </table>
        {% endif %}
    {% endfor %}
</div>