---
layout: default
title: Gallery
section: gallery
metaDescription: A gallery of screenshots and artwork. All screenshots are taken by Samantha Says, each piece of artwork will contain links to the artist.
metaImage: https://samanthasays.github.io/assets/images/Apples icon.png
---

<h1>Gallery</h2>

<div id="pageNavigation">
    <a id="active">1</a>
    <a href="/gallery/2">2</a>
    <a href="/gallery/3">3</a>
    <a href="/gallery/4">4</a>
    <a href="/gallery/5">5</a>
</div>

<div class="tablesContainer">
    {% for post in site.categories.gallery limit:24 %}
        <table id="tableGallery">
            <tr>
                <th style="width: 297px"><a href="{{ post.url }}"><img style="max-width: 297px; height: auto; max-height: 297px" src="/assets/images/gallery/{{ post.tag }}/{{ post.image }}" alt="{{ post.title }}"></a></th>
            </tr><tr>
                <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            </tr>{% if post.categories contains "samantha says" %}<tr>
                <td style="font-weight: normal"><a target="_blank" href="{{ post.link }}">{{ post.from }}</a></td>
            </tr>{% else %}<tr>
                <td style="font-weight: normal"><a  href="/gallery/{{ post.tag }}">{{ post.from }}</a></td>
            </tr>{% endif %}
        </table>
    {% endfor %}
</div>

<div id="pageNavigation">
    <a id="active">1</a>
    <a href="/gallery/2">2</a>
    <a href="/gallery/3">3</a>
    <a href="/gallery/4">4</a>
    <a href="/gallery/5">5</a>
</div>