<p style="font-size: 10px"><a href="https://greenmangaming.sjv.io/samanthasays" title="Save on PC games at Green Man Gaming" target="_blank"><img src="assets/images/GMG 300x250.webp" alt="Save on PC games at Green Man Gaming" width="100%"></a>
<br>Proud ambassador of Green Man Gaming</p>

{% if page.section != "Home" %}
<div id="twitchPlayer">
<p><iframe src="https://player.twitch.tv/?channel=samanthasays&parent=samanthasays.github.io" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></p>
</div>
{% endif %}

<p>Leave a message!<br>
<div id="chatEmbed">
<iframe src="https://www5.cbox.ws/box/?boxid=939891&boxtag=FyeHvl" allowtransparency="yes" allow="autoplay" frameborder="0" scrolling="auto"></iframe></p>
</div>

<p style="font-size: 10px"><a href="https://shrsl.com/3um55" title="Buy some Samantha Says designs and more from Design by Humans" target="_blank"><img src="assets/images/DBH 300x250.webp" alt="Buy some Samantha Says designs and more from Design by Humans" width="100%"></a>
<br>Samantha Says designs and more from Design by Humans</p>