<p style="font-size: 10px"><a href="https://greenmangaming.sjv.io/samanthasays" title="Save on PC games at Green Man Gaming" target="_blank"><img src="assets/images/GMG 300x250.webp" border="0" alt="" width="300px" height="auto"></a>
<br>Proud ambassador of Green Man Gaming</p>

{% if page.section != "Home" %}
<p><iframe src="https://player.twitch.tv/?channel=samanthasays&parent=samanthasays.github.io" frameborder="0" allowfullscreen="true" scrolling="no" width="300" height="168.75"></iframe></p>
{% endif %}

<p>Leave a message!<br>
<iframe src="https://www5.cbox.ws/box/?boxid=939891&boxtag=FyeHvl" width="300" height="300" allowtransparency="yes" allow="autoplay" frameborder="0" scrolling="auto"></iframe></p>

<p style="font-size: 10px"><a href="https://shrsl.com/3um55" title="Buy some Samantha Says designs and more from Design by Humans" target="_blank"><img src="assets/images/DBH 300x250.webp" border="0" alt="" width="300px" height="auto"></a>
<br>Samantha Says designs and more from Design by Humans</p>