<p style="font-size: 0.6rem"><a href="https://greenmangaming.sjv.io/samanthasays" title="Save on PC games at Green Man Gaming" target="_blank"><img src="/assets/images/GMG 300x250.webp" alt="Save on PC games at Green Man Gaming" width="100%"></a>
<br>Proud ambassador of Green Man Gaming</p>

{% if page.section != "home" %}
<div id="twitchPlayer">
<p><iframe src="https://player.twitch.tv/?channel=samanthasays&parent=samanthasays.net" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></p>
</div>
{% endif %}

<p style="font-size: 0.6rem"><a href="https://shrsl.com/3um55" title="Merchandise available at Design By Humans" target="_blank"><img id="randomMerch" src="/assets/images/DBH 300x250.webp" alt="Merchandise available at Design By Humans" width="100%"></a>
<br>Merchandise available at Design By Humans</p>