<p style="font-size: 0.6rem"><a href="https://greenmangaming.sjv.io/samanthasays" title="Save on PC games at Green Man Gaming" target="_blank"><img src="assets/images/GMG 300x250.webp" alt="Save on PC games at Green Man Gaming" width="100%"></a>
<br>Proud ambassador of Green Man Gaming</p>

{% if page.section != "Home" %}
<div id="twitchPlayer">
<p><iframe src="https://player.twitch.tv/?channel=samanthasays&parent=samanthasays.github.io" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></p>
</div>
{% endif %}

<p style="font-size: 0.9rem">Leave a message!</p>
<div id="chatEmbed">
<iframe src="https://www5.cbox.ws/box/?boxid=939891&boxtag=FyeHvl" allowtransparency="yes" allow="autoplay" frameborder="0" scrolling="auto"></iframe>
</div>