<div id=twitchPlayer>
    <p><iframe src="https://player.twitch.tv/?{{ page.vod }}&parent=samanthasays.github.io" frameborder="0" allowfullscreen="true" scrolling="yes"></iframe></P>
</div>
{% if page.gmg != "null" %}<p style="text-align: center">Purchase <a href="{{ page.gmg }}">{{ page.game }}</a> at <a href="https://greenmangaming.sjv.io/samanthasays">Green Man Gaming</a>.</p>{% endif %}
<p style="text-align: center; font-size:small">Blocking third-party cookies can cause video playback issues.</p>