@font-face {
    font-family: "pelagiad";
    src: url("../fonts/Pelagiad.ttf") format("truetype");
}
@font-face {
    font-family: "eurostile";
    src: url("../fonts/CClub Eurostile.ttf") format("truetype");
}
@font-face {
    font-family: "eurostile";
    src: url("../fonts/CClub Eurostile Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "futura";
    src: url("../fonts/Futura Condensed.ttf") format("truetype");
}
@font-face {
    font-family: "futura";
    src: url("../fonts/Futura CondensedLight.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "futura";
    src: url("../fonts/Futura CondensedBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "gaelic";
    src: url("../fonts/Books_Gaelic - Sky.ttf") format("truetype");
}
@font-face {
    font-family: "handwritten";
    src: url("../fonts/Books_Handwritten_Bold - Sky.ttf") format("truetype");
}
@font-face {
    font-family: "unreadable";
    src: url("../fonts/Books_Unreadable - Sky.ttf") format("truetype");
}
@font-face {
    font-family: "univers";
    src: url("../fonts/univers 55 - Onl.ttf") format("truetype");
}
@font-face {
    font-family: "daedric";
    src: url ("../fonts/ayembedt - mor.tff") format("truetype");
}
@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuLGCSansMono - Mor.ttv") format("truetype");
}
@font-face {
    font-family: "dragon";
    src: url("../fonts/DragonTES_2.tff") format("truetype");
}
@font-face {
    font-family: "dwemer";
    src: url("../fonts/DwemerSR.tff") format("truetype");
}
@font-face {
    font-family: "falmer";
    src: url("../fonts/Falmer.tff") format("truetype");
}