#leftSidebar button {
    transition: all .2s ease-in-out;
    font-family: pelagiad;
    font-size: 18px;
    background-color: #FACFCF;
    cursor: pointer;
}

#leftSidebar button:hover {
    background-color: #F2465D;
}

#saveAlert {
    opacity: 0;
}

.gameLeft {
    float: left;
    width: 50%;
    font-family: pelagiad;
    font-size: 24px;
}

#playerName {
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-family: pelagiad;
    font-size: 36px;
    text-align: center;
    background-color: #F78190;
    padding: 10px;
    border-radius: 10px;
}

#playerName:hover {
    background-color: #F2465D;
}

.gameRight {
    float: right;
    width: 50%;
    user-select: none;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #F2465D;
}

.tab button.active {
    background-color: #F78190;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#enemyClicker {
    background-size: contain;
    position: relative;
    transition: all .1s ease-in-out;
    max-width: 256px;
}

#enemyClicker img {
    cursor: pointer;
    height: 256px;
    width: 256px;
}

#enemyClicker:hover {
    transform: scale(1.10);
}

#enemyClicker:active {
    transform: scale(0.99);
}

#enemyClicker > .number {
    z-index: 99;
    font-size: 36px;
    font-family: "gaelic";
    color: red;
    position: absolute;
}

#enemyName {
    font-size: 28px;
    background-color: #F78190;
    padding: 10px;
    border-radius: 10px;
}

.marketplaceButton {
    background-color: #B5B5B5;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.marketplaceButton:hover {
    background-color: #C7C7C7;
    transition: all .2s ease-in-out;
}

.marketplaceButton #image {
    width: 25%;
}

.marketplaceButton img {
    height: 64px;
    width: auto;
}

.marketplaceButton #nameAndCost p{
    margin: 0px;
    width: 60%;
}

.marketplaceButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.marketplaceButton #amount {
    font-size: 48px;
    color: #595959;
    width: 15%;
}

.unselectable {
    user-select: none;
}

#upgradeContainer img {
    height: 64px;
    width: auto;
}