body {
    background-color: var(--background);
    color: var(--textMain);
    font-family: "univers";
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#container {
    max-width: 1440px;
    margin: 0 auto;
}
  
#flex {
    display:flex;
}
  
aside {
    background-color: var(--aside);
    padding: 15px;
}

main {
    width: 69%;
    background-color: var(--background);
    flex:1;
    padding:20px;
    order:2;
}

#leftSidebar {
    order:1;
    width: 10%;
    font-family: "eurostile";
    font-weight: bold;
    list-style-type: none;
}

.socials {
    padding-left:10px;
    list-style-type: none;
}

.socials a:link {
    color: var(--textLink);
    text-decoration: none;
}
.socials a:visited {
    color: var(--textLinkVisited);
    text-decoration: none;
}
.socials a:hover {
    text-decoration: underline;
}
  
#rightSidebar {
    order: 3;
    width: 21%;
    font-size: smaller;
}

#twitchContainer {
    position: relative;
    aspect-ratio: 94/48;
    float: center;
}

#twitch-embed {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

#rightImage {
    text-align: center;
}

#twitchPlayer {
    position: relative;
    padding-bottom: 56.5%;
    height: 0;
}

#twitchPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#chatEmbed {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

#chatEmbed iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
footer {
    background-color: var(--footer);
    padding: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
}

#title {
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}

#tablesContainer {
    text-align: center;
    font-weight: bolder;
}

#modGallery {
    display: inline;
}

#modGallery img {
    height: 300px;
}

.themeButton {
    background-color: var(--navigation);
    color: var(--textInverse);
    padding: 8px;
    cursor: pointer;
    border: none;
}

.themeButton:hover {
    background-color: var(--background);
    color: var(--textMain);
}

.theme {
    position: relative;
    display: inline-block;
}

.themeContent {
    display: none;
    position: absolute;
    background-color: var(--navigation);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 140px;
}

.themeContent a {
    color: var(--textInverse);
    text-decoration: none;
    padding: 8px;
    display: block;
    user-select: none;
    cursor: pointer;
}

.themeContent a:hover {
    background-color: var(--background);
    color: var(--textMain);
}

.show {
    display: block;
}

/* Re-order page under 1280px */
@media only screen and (max-width: 620px) {
    #flex {
        flex-wrap: wrap;
    }
    main {
        order: 1;
    }
    #leftSidebar {
        order: 2;
        width: 100%;
    }
    #rightSidebar {
        order: 3;
        width: 100%;
    }
    aside {
        width: 100%;
    }
  }