/* Nav bar background colour */
.navigation {
  font-family: "eurostile";
  font-weight: bold;
  background-color: var(--navigation);
  overflow: hidden;
}
/* Link text */
.navigation a {
  float: left;
  color: var(--textInverse);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Link colour on hover */
.navigation a:hover {
  background-color: var(--background);
  color: var(--textMain);
}
/* Colour of active page */
.navigation .active {
  background-color: var(--aside);
  color: var(--textMain);
}
/* Icon on small screens */
.navigation .icon {
  display: none;
}
/* Compress links under 640 */
@media screen and (max-width: 640px) {
  .navigation a:not(:first-child) {display:none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}
/* Display links vertically under 640 */
@media screen and (max-width: 640px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}