:root {
    --background: #FACFCF;
    --navigation: #F2465D;
    --aside: #F78190;
    --footer: #FF545A;
    --textMain: black;
    --textLink: #0645AD;
    --textLinkVisited: #0B0080;
    --textInverse: #F2F2F2;
}