---
layout: default
title: Mods
section: mods
metaDescription: A collection of mod lists used by Samantha Says, including The Elder Scrolls series such as ESO, Skyrim, and Morrowind, as well as other games like Minecraft.
metaImage: https://samanthasays.github.io/assets/images/Apples icon.png
---

<h1>Mods</h1>

<div class="tablesContainer">
{% assign sortedPosts = site.categories.mods | sort: 'title' %}
{% for post in sortedPosts %}
    <table id="tableGallery">
        <tr>
            <th><a href="{{ post.permalink }}"><img src="/assets/images/games/{{ post.image }}" alt="{{ post.game }}"></a></th>
        </tr><tr>
            <td><a href="/mods{{ post.link }}">{{ post.game }}</a></td>
        </tr>
    </table>
{% endfor %}
{% include moddedGames.html %}
</div>