---
layout: default
title: Mods
section: Mods
---

<h1>Mods</h1>

<div class="tablesContainer">
{% assign sortedPosts = site.categories.mods | sort: 'title' %}
{% for post in sortedPosts %}
    <table id="tableGallery">
        <tr>
            <th><a href="{{ post.permalink }}"><img src="/assets/images/games/{{ post.image }}"></a></th>
        </tr><tr>
            <td><a href="/mods{{ post.link }}">{{ post.game }}</a></td>
        </tr>
    </table>
{% endfor %}
{% include moddedGames.html %}
</div>