---
layout: default
title: Mods
section: mods
description: A collection of mod lists used by Samantha Says, including The Elder Scrolls series such as ESO, Skyrim, and Morrowind, as well as other games like Minecraft.
image: /assets/images/Website Icon.png
---

<h1>Mods</h1>

<div class="tablesContainer">
{% for mod in site.mods %}
    <table id="tableGallery">
        <tr>
            <th><a href="{{ mod.url }}"><img src="{{ mod.image }}" alt="{{ mod.game }}"></a></th>
        </tr><tr>
            <td><a href="{{ mod.url }}">{{ mod.game }}</a></td>
        </tr>
    </table>
{% endfor %}
{% include moddedGames.html %}
</div>