---
layout: default
title: Characters
section: characters
description: A collection of Lore, Builds, and Fashion of original characters by Samantha Says. Most appear across The Elder Scrolls series, like ESO, Skyrim, and Morrowind.
image: /assets/images/Apples icon.png
---

<h1>Characters</h1>

<h2>The Elder Scrolls Online</h2>

<!--<span id="esoLBF"><a href="/characters/lore">Lore</a>&nbsp;•&nbsp;<a href="/characters/builds">Builds</a>&nbsp;•&nbsp;<a href="/characters/fashion">Fashion</a></span>-->

<div class="tablesContainer">
    {% assign sortedPosts = site.characters | sort: 'priority' %}
    {% for character in sortedPosts %}
        <table id="tableGallery">
            <tr>
                <th><a href="{{ character.url }}"><img style="width: 297px; height: auto" src="{{ character.image }}" alt="{{ character.title }}"></a></th>
            </tr><tr>
                <td><a href="{{ character.url }}">{{ character.title }}</a></td>
            </tr><tr>
                <td style="font-weight: normal">{{ character.race}} {{ character.type }} {{ character.class }}</td>
            </tr><tr>
                <td style="font-weight: normal">{{ character.theme }}</td>
        </table>
    {% endfor %}
    {% include characters-to-go.html %}
</div>