---
layout: default
title: Characters
section: Characters
---

<h1>Characters</h1>

<h2>The Elder Scrolls Online</h2>
<div class="tablesContainer">
    {% assign sortedPosts = site.categories.characters | sort: 'priority' %}
    {% for post in sortedPosts %}
        <table id="tableGallery">
            <tr>
                <th><a href="{{ post.url }}"><img style="width: 297px; height: auto" src="/assets/images/characters/{{ post.image }}"></a></th>
            </tr><tr>
                <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            </tr><tr>
                <td style="font-weight: normal">{{ post.race}} {{ post.type }} {{ post.class }}</td>
            </tr><tr>
                <td style="font-weight: normal">{{ post.theme }}</td>
        </table>
    {% endfor %}
    {% include characters.html %}
</div>