<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel = "icon" href = "/assets/images/Apples icon.png" type = "image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="assets/js/theme.js"></script>
        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    </head>
</html>
<body>
    <div class="container">
        <navigation class="navigation">
            {% include navigation.html %}
        </navigation>
        <content class="content">
            {{content}}
        </content>
        <sidebarLeft class="sidebarLeft">
            {% include socials.html %}
        </sidebarLeft>
        <sidebarRight class="sidebarRight">
            {% include sidebarRight.html %}
        </sidebarRight>
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
</body>