<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
        {% feed_meta %}
        {% seo %}
        <link rel="icon" href="/assets/images/Apples icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="/assets/js/theme.js"></script>
        <script src="/assets/js/randomMerch.js" async></script>
        <script src="/assets/js/changelog.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6719583402470545"
        crossorigin="anonymous"></script>
    </head>
</html>
<body>
    <div class="container">
        <navigation class="navigation">
            {% include navigation.html %}
        </navigation>
        <content class="content">
            {{content}}
        </content>
        <sidebarLeft class="sidebarLeft">
            {% if page.section == "characters" %}
                {% include characters.html %}
            {% endif %}
            {% if page.section == "mods" %}
                {% include mods.html %}
            {% endif %}
            {% if page.section == "gallery" %}
                {% include gallery.html %}
            {% endif %}
            {% include socials.html %}
        </sidebarLeft>
        <sidebarRight class="sidebarRight">
            {% include sidebarRight.html %}
        </sidebarRight>
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
</body>