<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | Samantha Says</title>
        <meta name="description" content="{{ page.metaDescription }}">
        <meta property="og:title" content="{{ page.title }} | Samantha Says">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:description" content="{{ page.metaDescription }}">
        <meta property="og:image" content="{{ page.metaImage }}">
        <meta name="site_name" content="Samantha Says">
        <meta property="og:locale" content="en_GB">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@SamanthaSaysTV">
        <meta name="ahrefs-site-verification" content="ce9c7d11b13f520898873f3bb97008ace0dc2ca686c51e2ae80f71cb027e03ca">
        <link rel = "icon" href = "/assets/images/Apples icon.png" type = "image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="/assets/js/theme.js"></script>
        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6719583402470545"
            crossorigin="anonymous"></script>
        <meta name="google-site-verification" content="S0qEL3MgZEMkPuMCDk1veH1JPgWzBQiw259Min7CoOQ" />    
    </head>
</html>
<body>
    <script>
        kofiWidgetOverlay.draw('samanthasays', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Tip Jar',
            'floating-chat.donateButton.background-color': '#F2465D',
            'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
    <div class="container">
        <navigation class="navigation">
            {% include navigation.html %}
        </navigation>
        <content class="content">
            {{content}}
        </content>
        <sidebarLeft class="sidebarLeft">
            {% if page.section == "characters" %}
                {% include characters.html %}
            {% endif %}
            {% if page.section == "gallery" %}
                {% include gallery.html %}
            {% endif %}
            {% include socials.html %}
        </sidebarLeft>
        <sidebarRight class="sidebarRight">
            {% include sidebarRight.html %}
        </sidebarRight>
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
</body>