<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel = "icon" href = "/assets/images/Apples icon.png" type = "image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="assets/js/theme.js"></script>
        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6719583402470545"
            crossorigin="anonymous"></script>
        <script src="assets/js/theidlescrolls.js"></script>
    </head>
    <body>
        <script>
            if (localStorage.getItem("theme") !== null) {
                theme(JSON.parse(localStorage.getItem("theme")));
            }
        </script>
        {% include navigation.html %}
        <div id="container">
            <div id="flex">
                <aside id="leftSidebar">
                    {% include saveGame.html %}
                    {% include socials.html %}
                    {% include theme.html %}
                </aside>
                <main>
                    {{ content }}
                </main>
                <aside id="rightSidebar">
                    {% include rightSidebar.html %}
                </aside>
            </div>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
        <script>
            kofiWidgetOverlay.draw('samanthasays', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Tip Jar',
                'floating-chat.donateButton.background-color': '#F2465D',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#8fabbb"
                    },
                    "button": {
                        "background": "#e6e6e6"
                    }
                },
                "theme": "edgeless",
                "position": "top",
                "static": true,
                "content": {
                    "message": "This website uses cookies for a consistent experience, ads, and traffic analysis.",
                    "dismiss": "Dismiss",
                    "link": "Find out more"
                }
            });
        </script>
    </body>
</html>